/* Variables */

:root {
--basic-blue: #32425C;
--basic-red: #EE3643;
--basic-green: #63A63E;
--basic-grey: #F9F5F0;
--basic-greylight: rgba(197,197,197,0.3);
--basic-grey2: rgba(0, 0, 0, 0.0001);
--basic-orange: #FFBF47;
--basic-white: #ffffff;
--basic-black: #000000;

--special-light-blue:#3BBCE3;
--special-pink: #DC91D8;
--special-green: #8ED78F;
--special-blue: #293449;
--special-orange:  #FFD180;
--special-blue2:  linear-gradient(0deg, #212A3A, #212A3A);
--special-black: #161D29;
--special-grey: rgba(169,169,169,0.3);
--special-greylight: #F1F5F7;
--special-red: #CA2C37;
--special-darkred: #BA2732;
}





a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*Main-navigation*/


.upper-navigation, .main-navigation {
  background-color: var(--basic-blue);
  font-size: 18px;
  line-height: 24px;
}

/*Навигационные ссылки*/

.upper-navigation a,
.main-navigation-item a,
.footer-navigation-item a,
.social-list-item a {
  color: var(--basic-white);
}

.main-navigation-item a:hover {
  background-color: var(--special-blue);
}

.main-navigation-item a:focus {
  opacity: 0.5;
  background-color:#1D2739;
}

i {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.contacts-phone {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  background: #F3F7F9;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
}
.contacts-phone::before {
  content:"";
  width: 19px;
  height: 19px;
  background-image: url("/img/icon/phone.svg");
  position: absolute;
  left: 16px;
}

.header-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/*
.user-cabinet {
  font-size: 21px;
  line-height: 21px;
  background: rgba(0, 0, 0, 0.0001);


}
*/


.main-navigation-list,
.features-list,
.features-slider,
.goods-list,
.brands-list,
.services-list,
.footer-navigation-list,
.additional-list,
.social-list {
  list-style: none;
}


/*Закладки, поиск, корзина*/

.purchase:focus {
  background-color: var(--special-black);
  color: rgba(255, 255, 255, 0.5);
}

input[type="search"] {
  background: var(--basic-blue);
  color: var(--basic-white);
  width: 100%;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
/*Подключал иконку, но не подключил*/
input[type="search"]::before {
  background-image: url("/img/icon/search.svg");
}
/*     */


input[type="search"]:hover {
color: var(--basic-black);
}

input[type="search"]:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

input[type="search"]::placeholder {
  color: var(--basic-white);
}

/*Личный кабинет*/

.user-cabinet {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  height: 45px;
  background-color: var(--basic-white);
  border: none;
  padding: 0 24px;
}

.user-cabinet::before {
  content:"";
  position: absolute;
left: 5px;
  width: 20px;
  height: 17px;
  background-image: url("/img/icon/login.svg");
}

.user-cabinet:hover {
  color: var(--basic-red);
}

.user-cabinet:focus {
color: var(--basic-greylight);
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*Материалы, инструменты, техника и т.д.*/

.feature-list-item:nth-child(1) {
  position: relative;
background-color: var(--basic-orange);
}

.feature-list-item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  right: 43px;
  bottom: 30px;
  background-image: url("/img/icon/bucket.svg");
}

.feature-list-item:nth-child(2) {
  position: relative;
  background-color: var(--special-light-blue);
}
.feature-list-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  right: 43px;
  bottom: 30px;
  background-image: url("/img/icon/drill.svg");
}

.feature-list-item:nth-child(3) {
  position: relative;
  background-color: var(--special-pink);
}

.feature-list-item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  right: 43px;
  bottom: 30px;
  background-image: url("/img/icon/tractor.svg");
}

.feature-list-item:nth-child(5) {
  position: relative;
  background-color: var(--special-green);
}

.feature-list-item:nth-child(5)::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  right: 43px;
  bottom: 30px;
  background-image: url("/img/icon/delivery.svg");
}


.feature-list-item:nth-child(6) {
  position: relative;
  background-color: #FFC047;
}

.feature-list-item:nth-child(6)::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  right: 43px;
  bottom: 30px;
  background-image: url("/img/icon/big-cart.svg");
}

.feature-list-item h3 {
  position: absolute;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  left: 22px;
}

.feature-list-item {
  position: relative;
}

.feature-list-item a {
  display: flex;
  position: absolute;
  left: 22px;
  bottom: 21px;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background: rgba(255,255,255,0.3);
}

.feature-list-item a:hover {
  background-color: var(--basic-greylight);
}

.feature-list-item a:focus {
  background-color: var(--special-grey);
}

/*Слайдер*/

.slider-item-1,
.slider-item-2 {
  background-color: var(--basic-blue); /*Цвет временный*/
}

.slider-item h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-item p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

/*Заголовки на cuprum*/
.goods h2,
.brands h2,
.service-list-item h3,
.wrapper-h2 h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}



.goods-list-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

/*Кнопки с ценой, красные все*/
.open-button,
.purchase-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);

}
.open-button {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  height: 38px;
}

.open-button:hover {
  background-color: var(--special-red);
}

.open-button:focus {
  background-color: var(--special-darkred);
}

.purchase-button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

/*Карточка с товаром*/

.goods-list-item h3 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-align: center;
  margin-top: 28px;
  margin-left: 18px;
  margin-right: 17px;
  margin-bottom: 7px;
}

.goods-list-item s {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--special-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 18px;
}

.goods-list-item b {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 141px;
  height: 38px;
  background: #EE3643;
}

.goods-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 318px;
}

.goods-list-item-img {
  width: 144px;
  height: 128px;
  margin: 22px 43px 28px 38px;
}


/*Сервисы*/

.section-service-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--special-greylight);
}

.services h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.service-list-item p,
.services p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.services-button {
  background: var(--basic-blue);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  color: var(--basic-white);
  width: 240px;
  height: 61px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  align-items: center;
  border: none;
}

.services-button:hover {
  background: var(--special-blue);
}

.services-button:focus {
  background: var(--basic-white);
  color: var(--basic-black);
  border: none;
}

/*Бренды*/

.brand-list-item a:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.brand-list-item a:focus {
  background: var(--basic-white);
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

/*Про нас */

.about-us h2,
.contacts h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-us p,
.contacts p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.partners-list-item {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

/*Footer*/

.navigation-footer {
  background-color: var(--basic-blue);
}

.footer-copyright-wrapper {
  background-color: var(--special-blue);
  height: 107px;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.footer-contacts a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;

}

.footer-navigation-item {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #F1F5F7;
}

.additional-list-item a {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: var(--special-orange);
}

.additional-list-item a:hover,
.footer-navigation-item a:hover {
  text-decoration: underline;
}

.additional-list-item a:focus,
.footer-navigation-item a:focus {
  opacity: 0.5;
}

.copyright {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.copyright a {
  color: var(--special-orange);
}

.copyright a:hover {
  text-decoration: underline;
}

.copyright a:focus {
  color: var(--special-darkred);
}

.social-list-item a {
  display: block;
  position: relative;
  background: linear-gradient(0deg, #212A3A, #212A3A);

}

.social-list-item a::before {
  content: "";
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  right: 10px;
  background: url("/img/icon/vk.svg") no-repeat;
}

/*
.social-list-item a:nth-child(1)::before {
  background-image: url("/img/icon/vk.svg");
}
*/
.social-list-item a:hover,
.social-list-item a:focus {
  background: var(--basic-red);
}

/*Форма feedback*/

.feedback-label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.feedback-item-input {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #a9a9a9;
  border: 2px solid #C5C5C5;
  box-sizing: border-box;
  border-radius: 2px;
}

.feedback-bottom {
  background-color: #f4f4f4;
}


/*Catalog*/

.wrapper-h2 {
  background-color: #f2f6f8;
}

.breadcrumbs-list-item a {
  list-style:none;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filters, .perforators-list {
  font-family: PT Sans;
}

.filters {
  width: 220px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0001);
}

.filters fieldset:nth-last-child {
  margin-bottom: 37px;


  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #000000;
}

.filters legend {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 15px;
/*Там три разных отступа*/
}

.filters h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: #F7F3EC;
}

.brands-checkbox-list,
.brands-radio-list,
.sort-list,
.perforators-list,
.page-list,
.breadcrumbs-list {
  list-style: none;
}

.brands-checkbox-list,
.brands-radio-list {
  margin: 0;
  padding: 0;
  line-height: 19px;
}


.brands-checkbox-list-item,
.brands-radio-list li {
  margin-bottom: 20px;
}

.price-range {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
}

.price {
  width: 95px;
  height: 38px;
}

/*Чекбоксы*/
/*Ввел отдельную обертку вокруг range, без размера пока, чтобы задать background-color*/
.price,
.price-range {
  background-color: #F7F3EC;
}

.brands-checkbox,
.brands-radio {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.brands-checkbox:hover,
.brands-radio:hover {
  background-color: #b5b5b5;
}
.brands-checkbox:active + label,
.brands-radio:active + label {
  opacity: 0.3;
}

.sort-list-item a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
  border-bottom: 1px dotted #EE3643;
}

.sort-list-item a:hover {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.sort-list-item a:active {
  color: var(--basic-red);
  border: none;
}

.sort-list-button {
  opacity: 0.3;
}

.sort-list-button:hover {
  background: var(--basic-black);
  opacity: 1;
}

.sort-list-button:active {
  background: var(--basic-red);
}

.accept-buy {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background: #63A63E;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.accept-buy:hover {
  background: #5FBB2D;
}

.accept-buy:focus {
  background: #518534;
}

.to-bookmarks {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-blue);
  border: 3px solid #63A63E;
  box-sizing: border-box;
  border-radius: 2px;
}

.to-bookmarks:hover {
  border: 3px solid #32425C;
}

.to-bookmarks:focus {
  opacity: 0.5;
}

/*Корзина popup*/

.continue-purchasing {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background: var(--basic-white);
}

.cart-popup p {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
}

.page-list-item a {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

.page-list-item a:hover {
  border: 1px solid #C5C5C5;
}

.page-list-item a:focus {
  border: 1px solid var(--basic-red);
}

.active a {
  background: var(--basic-red);
}
.about-perforators {
  background: var(--special-greylight);
}

.about-perforators h2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.about-perforators p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/*Grid-layout*/

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin:0;
  padding:0;
  font-family: "Cuprum", Arial, sans-serif;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  }

.main-header {
  margin-bottom: 60px;
  min-width: 1200px;
  margin:0 auto;
  display: grid;
  grid-template-rows: 42px 213px;
  padding-bottom: 60px;
  background: #F3F7F9;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.upper-navigation-wrapper {
  background: var(--basic-blue);
  width: auto;
  height: 42px;
}
.upper-navigation {
   width: 940px;
  display: grid;
  grid-template-columns: 220px 2fr 1fr 1fr 150px;
  gap: 17px;
  margin: 0 auto;
  height: 42px;
  align-items: center;
 }

 .upper-navigation .purchase {
  display: flex;
  align-items: center;
  justify-content: center;
 }


.medium-navigation {
  width:940px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 158px 60px;
}


.address-user-cabinet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 940px;
  margin:0 auto;
  align-self: center;
  justify-self: center;
}

.user-cabinet-menu {
  position: relative;
  justify-self: end;
}

.contacts-phone-block {
  justify-self: center;
  justify-content: center;

}

.itallic-block {
  justify-self: start;
  margin-left: 30px;
}

.features {
  padding-top: 60px;
}
.features-list {
  margin:0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.features-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
margin-top: 59px;
margin-bottom: 59px;
  padding: 0;
}


.slider-item {
  width: 600px;
  height: 266px;
  grid-row: 2/3;
  grid-column: 1/3;
}

.feature-list-item:nth-child(5) {
  grid-column: 3/4;
  grid-row: 3/4;
}

.feature-list-item {
  width: 300px;
  height: 123px;
}

.brands-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
  grid-gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}


.goods .goods-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px 220px;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.brands,
.goods {
  padding-bottom: 70px;
}

.about-us .open-button {
  margin-top: 20px;
}




.index-columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 60px;
  padding-top: 60px;
}

.services {
  padding-top: 64px;
  padding-bottom: 99px;
}
.services-wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
}

/*Footer grid*/

.main-footer {
  width: 1200px;
  margin: 0 auto;
}

.footer-navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 37px;
}

.additional-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logo-navigation {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.footer-contacts-additional {
  display: grid;
  grid-template-columns:321px 1fr;
  margin-top: 15px; /*на глаз*/
}

.footer-copyright {
  display: grid;
  grid-template-columns: 227px auto 137px 98px;
  grid-template-rows: 37px;
  gap: 51px;

}

.copyright {
  justify-self: end;
}

.social-list {
  justify-self: center;
}

.navigation-footer {
  height: 193px;
}

.popular {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  background-color: var(--basic-grey);
  padding-left: 22px;
  padding-right: 12px;
}

.main-header-logo-span {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

}

.logo-navigation-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 68px;
  background: #EE3643;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

}
.accept {

  width: 150px;
  height: 42px;
  background-color: var(--basic-green);
  display: flex;
  align-items: center;
  justify-content: center;

}


/*Catalog grid*/

.filters-block {
  display: grid;
  grid-template-columns: 220px 220px auto;
  gap: 20px;
}

.sort-list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.filters-goods-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.goods-list {
  display: grid;
  grid-template-columns: 220px 220px 220px;

}

.page-list {
  display: grid;
  grid-template-columns: 38px 38px 38px 140px;
  gap: 10px;
}

.main-navigation-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.social-list,
.footer-navigation-list,
.additional-list {
  display: flex;
  justify-content: space-between;
}

.footer-contacts .contacts-phone,
.footer-contacts .footer-address {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.footer-contacts {
  width: 321px;
}


/*Слайдер*/

.slider-item {
  position: relative;
  width: 620px;
  height: 266px;
}


.slider-item p {
  position: absolute;
  top: 45px;
  left: 24px;
}

.slider-item h3 {
  position: absolute;
  left: 24px;
  top: -15px;
}

.slider-item .open-button {
  position: absolute;
  bottom: 27px;
  left: 24px;
}

.slider-item .slider-button-2 {
  position: absolute;
  right: 24px;
  top: 122px;
}

.slider-item .slider-button-1 {
  position: absolute;
  left: 24px;
  top: 122px;
}

.contacts .open-button {
  margin-top: 25px;
  width: 300px;
}


